<h1 class="center">Events</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="center">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td class="center">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li class="center"><%= link_to 'View Details', event %></li>
              <li class="center"><%= link_to 'Rename', edit_event_path(event) %></li>
              <li class="center"><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a New Event', new_event_path %>
