<h1 class="center">List of Rentals</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th class="center">Cost</th>
      <th class="center">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.name %></td>
        <td class="center"><%= number_to_currency(rental.cost) %></td>
        <td class="center">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <!-- <li class="center"><%#= link_to 'Show', rental %></li> -->
              <li class="center"><%= link_to 'Edit', edit_rental_path(rental) %></li>
              <li class="center"><%= link_to 'Delete', rental, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental', new_rental_path %>
