<h1 class="center">List Flower Items</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flower_items.each do |flower_item| %>
      <tr>
        <td><%= flower_item.quantity %></td>
        <td><%= link_to 'Show', flower_arrangement_flower_item_path(@flower_arrangement, flower_item) %></td>
        <td><%= link_to 'Edit', edit_flower_arrangement_flower_item_path(@flower_arrangement, flower_item) %></td>
        <td><%= link_to 'Destroy', flower_arrangement_flower_item_path(@flower_arrangement, flower_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flower item', new_flower_arrangement_flower_item_path(@flower_arrangement) %>
